body {
    background-color: #222;
}

#carousel{
    border:5px solid #555;
    width: 900px;
    height: 750px;
    text-align-last: center;
    font-size: 50px;
    color: DodgerBlue;
}
#carouselSlids {
    border: 2px solid white;
    width: 800px;
    height:600px;
    position: relative;
    left: 5%;
}
.auto-box {
    text-align-last: left;
    font-size: 10px;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 15px 35px;
    font-size: 30px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: RoyalBlue;
  }