body {
    background-color: #333;
    color:white;
    text-align-last: center;
}

.gameMap {
    width: 500px;
    height: 500px;
    border: 10px solid #666;
    margin-left: auto;
    margin-right: auto;
}
.gameMap div {
    width: 48px;
    height: 48px;
    border: 1px solid #555;

    float: left;
}

.gameMap .pac {
    background-image: url(icons/Chain-Chomp-icon.png);
}
.gameMap .coin {
    background-image: url(icons/Coin-icon.png);
}
.gameMap .bomb {
    background-image: url(icons/Actions-edit-bomb-icon.png);
}