body{
    background-color: #223;
}

#snowContainer{
    width: 500px;
    height: 500px;
    border: 1px solid darkred;
    position: relative;
}

#snowContainer .flake{
    width: 10px;
    height:10px;
    background-color: #fff;
    border-radius:100%;
    position: absolute;

}